langchain
python-dotenv
ipykernel
langchain_groq
langchain_community
langchain_google_genai
pypdf
faiss-cpu
structlog # writing a log
pyMuPDF
langchain-core[tracing]
streamlit
pandas
pytest 
docx2txt
fastpi 
uvicorn 
python-multipart

-e . # for installing this documentation as a package